<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Primes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Primes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col text-center size="6"> <!-- this column will have the primes generator -->
        <ion-card>
        <ion-list-header> <ion-title>Generate primes between a range here!</ion-title> </ion-list-header> <!--TROCAR AQUI POR CARD HEADER-->
        <ion-item>
          <ion-label>Lower range</ion-label>
          <ion-input [(ngModel)]="lower"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Top range</ion-label>
          <ion-input [(ngModel)]="top"></ion-input>
        </ion-item>
        <ion-button (click)="generatePrimes(lower, top)" type="submit" expand="block" color="primary" >Generate!</ion-button>
      </ion-card>
      </ion-col>


      <ion-col size="6"> <!-- this column will have the primes already generated -->
        <div *ngIf="[inDatabase.length] > 0; else elseBlock">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                Check this already generated ranges!
              </ion-card-title>
            </ion-card-header>
          <ion-list>
            <ion-item *ngFor="let p of inDatabase">
              <ion-label>{{p.lowerRange}} to {{p.topRange}}</ion-label>
              <!--<h6>{{p.resultSet}}</h6> -->
            </ion-item>
          </ion-list>
        </ion-card>
        </div>

        <ng-template #elseBlock>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Generate some ranges to see them here!</ion-card-title> <!--TROCAR AQUI POR CARD HEADER-->
            </ion-card-header>
          </ion-card>
          
        </ng-template>
        
      </ion-col>
    </ion-row>

    <ion-row justify-content-center>
      <ion-col size="12" text-center>
        <div *ngIf=" [primesinselectedrange.length] > 0">
          <ion-title>
            Primes
          </ion-title>
          <ion-item *ngFor="let p of primesinselectedrange">
            <!-- colocar cada p dentro de um circulo, um do lado do outro -->
            {{p}}
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
